:root {
    --tab-bg-color: #f2f3f5;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

#app,
body,
html,
.n-config-provider {
  height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, PingFang, Helvetica Neue, Helvetica, Microsoft YaHei, sans-serif;
    color: #282828;
    font-size: 14px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
